{% extends 'blog/base.html' %}
{% load staticfiles %}

<html>
    <head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <title>Django Test blog</title>
		
		<style>
		
			body {
				background: ;
			}
		
		</style>
    </head>
    <body>
		<button href="{% url 'admin'}">ADMIN INTERFACE</button>
        <div class="page-header">
			<h1><a href="/">Django Girls Blog</a></h1>
		</div>
		<p>These are the posts created earlier:</p>
		{% block content %}
			{% for post in posts %}
				<div class="post">
					<div class="date">
						{{ post.published_date }}
					</div>
					<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
					<p>{{ post.text|linebreaksbr }}</p>
				</div>
			{% endfor %}
		{% endblock %}
    </body>
</html>